<mat-toolbar class="header" color="primary">
  <button mat-mini-fab>
    <mat-icon>menu</mat-icon>
  </button>
  <span style="padding-left: 10px">Angular Material Theme App (Primary Header)</span>
</mat-toolbar>
<mat-toolbar class="header" color="accent">
  <button mat-mini-fab color="warn">
    <mat-icon>menu</mat-icon>
  </button>
  <span style="padding-left: 10px">Angular Material Theme App (Accent Header)</span>
</mat-toolbar>
<mat-toolbar class="header" color="warn">
  <button mat-mini-fab color="primary">
    <mat-icon>menu</mat-icon>
  </button>
  <span style="padding-left: 10px">Angular Material Theme App (Warn Header)</span>
</mat-toolbar>

<div style="padding-top: 10px; padding-left: 20px; padding-right: 20px">
  <h2>Themes <mat-icon>format_color_fill</mat-icon></h2>
  <div style="display: flex">
    <div style="width: 300px">
      <div>
        <mat-radio-group class="radio-button-group" [(ngModel)]="theme" (change)="changeTheme()">
          <mat-radio-button class="radio-button" *ngFor="let theme of themes" [value]="theme.theme">{{theme.display}}</mat-radio-button>
          <h3>Prebuilt Themes</h3>
          <mat-radio-button class="radio-button" *ngFor="let theme of prebuiltThemes" [value]="theme.theme">{{theme.display}}</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
    <div>
      <mat-form-field>
        <input matInput placeholder="Field" autocomplete="off" />
      </mat-form-field>
      <mat-form-field style="padding-left: 10px" color="accent">
        <input matInput placeholder="Accent Field" autocomplete="off" />
      </mat-form-field>
      <table>
      <thead>
        <tr>
          <th>Column 1</th>
          <th>Column 2</th>
          <th>Column 3</th>
          <th>Column 4</th>
          <th>Column 5</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>2</td>
          <td>3</td>
          <td>4</td>
          <td>5</td>
        </tr>
        <tr>
          <td>1</td>
          <td>2</td>
          <td>3</td>
          <td>4</td>
          <td>5</td>
        </tr>
        <tr>
          <td>1</td>
          <td>2</td>
          <td>3</td>
          <td>4</td>
          <td>5</td>
        </tr>
      </tbody>
      </table>
    </div>
  </div>
</div>
